<!-- templates/dashboard.html -->
{% extends "base.html" %}
{% block title %}Dashboard - {{ user.display_name }}{% endblock %}
{% block content %}
<h1>Welcome {{ user.display_name }}! 👋</h1>
{% if message %}
<h2>{{ message }}</h2>
{% endif %}
{% if venues %}
    <h2>Venues added:</h2>
    <ul>
        {% for venue in venues %}
            <li>{{ venue }}</li>
        {% endfor %}
    </ul>
{% endif %}

<p>Enter the URLs of venues you want to track:</p>
<form method="POST" action="/create-playlist">
    <div>
        <label><strong>Venue URL:</strong></label>
        <input name="venue_url" placeholder="yourfavoritevenue.com">
    </div>
    <button type="submit">Create Playlist 🎵</button>
</form>
{% endblock %}